/* colors */
.text-blue
{
    color: #31B1E7;
}

.bg-blue
{
    background-color: #4EA0FF;
}

.bg-light-blue
{
    background-color: #B1E5F2;
}

.text-grey
{
    color: lightslategray;
}

.text-white
{
    color: white;
}

.highlights
{
    background-color: yellow;
}


/* header */
header
{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    padding-top: 40px;
    background-size: 30%;
}

h1
{
    font-size: 50px;
}

#logo
{
    width: 350px;
}

/* table */
table
{
    border-spacing: 0px;
    text-align: left
}

.last-column
{
    width: 50%;
}

/* linked contents */
.images
{
    width: 208px;
    height: 160px;
    padding: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
#graph
{
    background-image: url(../img/graph.jpg);
}

#monitor
{
    background-image: url(../img/monitor.jpg);
}

h4
{
    margin-top: 0;
}
