*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.banner
{
    background-image: url(../img/pattern.png);
    background-size: 32%;
    background-position: top;
    background-color: #4EA0FF;
}

#logo
{
    width: 15%;
    margin-top: 4%;
}