*
{
    box-sizing: border-box;
}


/* header */

/* banner */
.banner
{
    background-image: url(../img/pattern.png);
    background-size: 32%;
    background-position: top;
    background-repeat: repeat;
    background-color: #4EA0FF;
}

#logo
{
    width: 15%;
    margin-top: 4%;
    margin-left: 5px;
}

/* title  */
h1
{
    font-size: 55px;  
    margin-bottom: 0; 
    margin-top: 3px;
}
/* undertitle */
.opacity
{
    color: rgba(0, 0, 0, 0.5);
}

#color-blue
{
    color: #24baff;
}

#data
{
    font-size: 12px;
}

/* figcaptions */

.caption-size
{
    font-size: 12px;
}

figure
{
    margin: auto;
}


/* highlighted */
.highlighted
{
    background-color: #FFFF00;
}


/* table */
table
{
    text-align: left;
}

thead
{
    color: white;
    background-color: #1FA9E5;
}

.blue-color
{
    background-color: #B1E5F2;
}